body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
.main-title{
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
.main-sub{
    text-align: center;
}

.top-hero {
    background-image: url(/images/donation0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.content {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0;
}

.content h1 {
    font-size: 65px;
    color: white;
}

.content p {
    color: white;
    margin-bottom: 50px;
}

.btn {
    background-color: #FF5959;
    padding: 10px 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;

}

/* ============= donate today ============ */
.donate {
    text-align: center;
    margin-top: 150px;
}
.donate-describ {
    margin-bottom: 50px;
    color: #707070;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}

.item {
    background-color: aliceblue;
    width: 135px;
    height: 123px;
    border-radius: 5px;
}

#two {
    background-color: #FFEEEE;
    border: 1px solid #FF5959;
}

h3 {
    align-items: center;
    color: #707070;
    font-size: 24px;
    line-height: 123px;
    margin: 0;
}

.amont {
    color: #707070;
    margin-top: 50px;
    border: none;
    outline: none;
}

.horzon {
    width: 40%;
    color: #DADADA;
    margin-bottom: 30px;
}

/* ============= Our Donate Plan ============ */
.Our-Donate-Plan {   
    margin-top: 150px;
}

.big-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: 0 auto;
}
.big-container div img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
}
.sub{
    margin-bottom: 50px;
    color: #707070;
}

.item-01 {
    width: 360px;
    height: 352px;
    background-color: #4f9da638;
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
}

.item-02 {
    width: 360px;
    height: 352px;
    background-color: #ff595930;
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
}

.item-03 {
    width: 360px;
    height: 352px;
    background-color: #FFF4D6;
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
}
/* ==========our gallery======== */
.our-gallery {
    text-align: center;
    margin-top: 150px;
}
.our-gallery h2{
    font-size: 45px;
}
.our-gallery p{
    color: #707070;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.g-container{
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: space-between;
}
.g-container img{
    width: 320px;
    height: auto;
    border: 5px solid aliceblue;
    border-radius: 10px;
    
}
.g-container img{
    border-radius: 10px;
}
.img-items-02 img{
    box-shadow: 10px 10px 50px rgb(174, 171, 171);
    box-shadow: -10px 10px 50px rgb(174, 171, 171);
   
}
/* ==========Email subscribe======== */
.newsletter{
    margin-top: 150px;
    text-align: center;
}
.newsletter p{
    color: #707070;
    margin-bottom: 50px;
}
.news-container{
    width: 50%;
    height: 200px;
    background-color: #59baff22;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
}
.news-container form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.news-container form input{
    background-color:white;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px 0px 0px 5px ;
}
.subscribe{
    background-color: #FF5959;
    padding: 10px 25px;
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: capitalize;
    border-radius:0px 5px 5px 0px ;
}


/* ==========footer======== */
.main-footer{
    background-color: #232F3E;
    width:100%;
    height: auto;
    color: white;
    padding-top: 40px;
    margin-top: 100px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-title{
    font-size: 24px;
    color: #FF5959;
}
.footer-content span{
    color: #FF5959;
    font-weight: 700;
}
